.App {
  min-height: 100vh;
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}

.App-title {
  margin: calc(20px + 2vmin);
}

.App-body {
  color: white;
}

.App-body-conversion {
  margin: calc(20px + 2vmin);
}

.App-graphs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}
